
<div class="login-container" style="background-image:
   linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),
   url(<%= image_path "car.jpg" %>);">
  <div class="row">


    <div class="col-sm-offset-4 col-sm-4">
     <!--  <div class="white-sign-up">
 -->

        <h2 class="text-center">Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
          <%= f.button :submit, "Sign up and list a car", class: "btn btn-success" %>
          <%= render "devise/shared/links" %>

        <% end %>
      <!-- </div> -->
    </div>
  </div>
</div>
