<div class="dashboard-container">
  <div class="flex-container">

    <div class="left">
      <div class="listings-cards">
        <div class="dashboard-card">
          <h4>Your Listed Cars</h4>
          <% @cars.each do |car| %>
            <div class="car-card">
              <p><%= car.make %></p>
              <p><%= car.model %></p>
              <p> <%= car.year %></p>
              <p><%= car.user_id %></p>
              <p><%= car.price_per_day %></p>
              <p><%= car.story %></p>
              <%= cl_image_tag car.photo, class: "car-card-photo" %>

              <!-- here you can see i put the car-card-photo class on the photo itself, not the div it was inside.  -->

            </div>
          <% end %>
        </div>
          <%= link_to new_car_path do %>
          <div class="btn-twitter">List your car</div>
        <% end %>
      </div>

    </div>

    <div class="right">
      <div class="bookings-cards">
        <div class="dashboard-card">
          <h4><u>Your Bookings</u></h4>
            <% if current_user.bookings %>
+            <%  current_user.bookings.each do |booking| %>
+              <div class="booking">
+                <p><%= booking.car_id %></p>
+                <p><%= booking.start_date %></p>
+                <p><%= booking.end_date %></p>
+              </div>
+            <% end %>
+          <% end %>
         </div>

        </div>
          <%= link_to "Book car", cars_path %>
      </div>
    </div>

  </div>
</div>
