<div class="dashboard-container">
  <div class="flex-container">

    <div class="left">
      <div class="listings-cards">
        <div class="dashboard-card">
          <h4><u>Your Listed Cars</u></h4>
          <% @cars.each do |car| %>
            <div class="car-card">
              <p><%= car.make %></p>
              <p><%= car.model %></p>
              <p> <%= car.year %></p>
              <p><%= car.user_id %></p>
              <p><%= car.price_per_day %></p>
              <p><%= car.story %></p>
              <p><%= cl_image_tag car.photo %></p>
            </div>
          <% end %>
        </div>
          <%= link_to "List car", new_car_path %>
      </div>

    </div>

    <div class="right">
      <div class="bookings-cards">
        <div class="dashboard-card">
          <h4><u>Your Bookings</u></h4>
          <p>booking 2</p>
          <p>booking 3</p>
        </div>

      </div>
    </div>

  </div>
</div>


