<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="banner-content text-center">
        <h1><%= @car.make %> <%= @car.model %></h1>
        <p>How amazing would it be to drive this beauty?</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 car-actions">
      <div class="col-cs-6 car-link">
      <% if current_user == @car.user %>
        <%= link_to "edit", edit_car_path(@car), class: "btn btn-primary text-center"  %>
      <% end %>

      <% unless current_user == @car.user %>
        <%= link_to "Book this car", new_car_booking_path(@car), class: "btn btn-primary"  %>
      <% end %>
      </div>
      <p class="text-center"><%= @car.story %></p>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= cl_image_tag @car.photo, height: 300, width: 400, crop: :fill %>
    </div>

  </div>
</div>


</div>




